body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button{
    background-color: black;
    color: white;
    height: 75px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.number{
    font-size: 30px;
}
.list{
    width: 500px;
    height: 550px;
    font-size: 30px;
    border: solid 5px black;
    padding: 30px 40px;
    overflow-y: auto;
    display: none;
}
.words{
    width: 512px;
    display: flex;
    gap: 10px;
}
.num{
    width: 50px;
    height: 50px;
    border: solid black 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    top: -8px;
}
.image{
    position: relative;
    top: 10px;
    border: solid black 3px;
}